{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>
<script src="{% static 'script.js' %}">
</script>

    {% if user.is_authenticated %}
    <a href="/logout" class="log-btn" >
        logout
    </a>
    {% else %}
    <a href="/login" class="log-btn">
    login
    </a>
        {% endif %}

<div>
    {% if user.is_authenticated %}
    <h3>Wel come, {{user.username}}</h3>
    {% endif %}
    <h1>All the features</h1>
</div>
<div class="card-container">
    {% for feature in features %}
    <div class="my-card">
        <h1 class="card-title">
            {{feature.id}}
            {{feature.title}}
            
        </h1>
        <p>{{feature.description}}</p>
        <button class="card-btn">
            Show more
        </button>
    </div>
    {% endfor %}
</div>