{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"/>
<script src="{% static 'script.js' %}">
</script>
<h1>My Django site</h1>
<div >
    <fieldset>
        {% for message in  messages %}
        <span class="error-msg">{{message}}</span>
        {% endfor %}
        <legend>User login ::</legend>
        <form method="POST" action="">
            {% csrf_token %}
            <!-- Legend tag using -->
            <label>Username:
                <input type="text" name="username"/>
            </label>
            <br><br>
            <label>Password:
                <input type="password" name="password"/>
            </label>
            <br><br>
            <input type="submit" name="sign in"/>
            <br><br>
            <p>not a member <a href="register">Register now</a></p>
        </form>
    </fieldset>
</div>
    